@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');

body {
    background-color: #212529;
}

nav.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav.navbar1 {
    display: none;
    justify-content: center;
    gap: 20px;
}

nav.navbar a, nav.navbar1 a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    font-weight: 600;
}

nav.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    transition: .5s;
}

nav.navbar a.active-home, nav.navbar1 a.active-home,
nav.navbar a.active-about, nav.navbar1 a.active-about,
nav.navbar a.active-portfolio, nav.navbar1 a.active-portfolio,
nav.navbar a.active-contact, nav.navbar1 a.active-contact
{
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    color: black;

}
/* main content */
/* .gambarlah:hover {
    transition: .5s;
    transform: scale(1.2);
} */
.gambar-diri {
    position: absolute;
    width: 40%;
    transform: translate(600px,-200px);
    box-shadow: 10px 10px 5px white;
    transition: .5s;
}
.gambar-diri:hover{
    transform: translate(620px, -180px);
    transition: .5s;
}

.bagian1 p {
    width: 50%;
}

.bagian2 {
    margin-top: 100px;
}
@media (max-width:900px){
    .gambar-diri{
        transform: translate(0,0);
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .gambar-diri:hover{
        transform: translate(0,0);
    }
    .bagian1 p {
        width: 100%;
        text-align: justify;
    }
    .bagian2{
        margin-top: 400px;
    }
}
@media (max-width:700px){
    .gambar-diri{
        transform: translate(0,0);
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .gambar-diri:hover{
        transform: translate(0,0);
    }
    .bagian1 p {
        width: 100%;
        text-align: justify;
    }
    .bagian2{
        margin-top: 350px;
    }
}

@media (max-width: 500px){
    nav.navbar {
        display: none;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    nav.navbar1 {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    nav.navbar1 a {
        margin-top: 5px;
        padding: 10px 20px;
    }
    nav.navbar a.active-home, nav.navbar1 a.active-home,
    nav.navbar a.active-about, nav.navbar1 a.active-about,
    nav.navbar a.active-portfolio, nav.navbar1 a.active-portfolio,
    nav.navbar a.active-contact, nav.navbar1 a.active-contact
    {
        border-radius: 5px 5px 0 0;
    }

    /* main content */
    .gambar-diri {
        box-shadow: 0 0 5px 2px white;
        width: 94%;
        z-index: -1;
    }
    .gambar-diri:hover{
        transform: translate(0, 0);
    }    
    .bagian2{
        margin-top: 300px;
    }
}