@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');

* {
    cursor: none !important;
    font-family: "Poppins";
}
body {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, #212529 3%, rgb(54, 54, 54) 38%, rgb(0, 0, 0) 68%, rgb(29, 29, 29) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* cursor */

  .cursor {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 9999;
  }
  
  .cursor2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(224, 224, 224);
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 9999;
  }
  
  .hover {
    background-color: red;
    opacity: 0.5;
  }
  
  .cursorinnerhover {
    width: 40px;
    height: 40px;
    opacity: .5;
  }

nav.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
}
nav.navbar1 {
    display: none;
    justify-content: center;
    gap: 20px;
    z-index: 99;
    backdrop-filter: blur(10px);
}

nav.navbar a, nav.navbar1 a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    font-weight: 600;
}

nav.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    transition: .5s;
}

nav.navbar a.active-home, nav.navbar1 a.active-home,
nav.navbar a.active-about, nav.navbar1 a.active-about,
nav.navbar a.active-portfolio, nav.navbar1 a.active-portfolio,
nav.navbar a.active-contact, nav.navbar1 a.active-contact
{
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    color: black;

}
/* main content */
/* .gambarlah:hover {
    transition: .5s;
    transform: scale(1.2);
} */
.gambar-diri {
    box-shadow: 10px 10px 5px white;
    transition: .5s;
}
.gambar-diri:hover{
    transform: translate(10px, -10px);
    transition: .5s;
}

.bagian2 {
    margin-top: 50px;
}

@media (max-width: 900px){
    .bagian1 {
        flex-wrap: wrap;
    }
    .gambar{
        margin-top: 20px !important;
    }
}

@media (max-width: 700px){
    nav.navbar {
        display: none;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    nav.navbar1 {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    nav.navbar1 a {
        margin-top: 5px;
        padding: 10px 20px;
    }
    nav.navbar a.active-home, nav.navbar1 a.active-home,
    nav.navbar a.active-about, nav.navbar1 a.active-about,
    nav.navbar a.active-portfolio, nav.navbar1 a.active-portfolio,
    nav.navbar a.active-contact, nav.navbar1 a.active-contact
    {
        border-radius: 5px 5px 0 0;
    }

    /* main content */
    .bagian1 {
        width: 100%;
        flex-wrap: wrap;
    }
    .gambar-diri {
        box-shadow: 0 0 5px 2px white;
        width: 100%;
        z-index: -111;
        margin-top: 20px;
    }
    .gambar-diri:hover{
        transform: translate(0, 0);
    }
    .bagkanan {
        order: 2;
        margin-top: 20px;
    }
    .bagtengah {
        order: 1;
    }
    .bagkiri{
        margin-top: 20px;
        order: 3;
    }
    .cursor, .cursor2{
        display: none;
    }
}